<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Signup</h2>
<form method="post">
    <input type="text" name="username" placeholder="Choose Username">
    <button type="submit">Signup</button>
</form>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for msg in messages %}
            <li>{{ msg }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

</body>
</html>